@model IEnumerable<QuizMaster.Models.Examiner>

@{
    ViewData["Title"] = "CalculateScores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section>
        <p>Thank You for Thaking the Exam</p>
        <p>You Took To of @ViewBag.Total Question</p>
        <p>You got @ViewBag.Score questions correctly out of @ViewBag.Fail questions</p>
        <h1>Percentage score is @ViewBag.PercentageScore %</h1>
    </section>